@{

    ViewBag.Title = "About Us";
}
<main aria-labelledby="title"  >
    <h2 id="title">@ViewBag.Title </h2>
    <h3>@ViewBag.Message</h3>

    <!-- About us-->
    <div class="container ">
                <br>
        <!-------Heading And Small description-->
                <h2 align="center" class=" Abput639043" style=" font-family: Calibri">About ComicHive</h2>

                <hr>
                <h5 align="center" class="d-flex p-2" style=" font-family: Calibri">
                    <strong>
                        ComicHive is an online platform that connects comic book sellers with buyers in the local area.

                        Our goal is to make it easy and convenient for comic enthusiasts to discover new comics and add to their collections, while also helping independent comic book sellers reach a wider audience.

                        Through ComicHive, sellers can create their own online stores where they can list and sell their comic books.
                        Buyers can browse through the available comics, read descriptions, view images, and make purchases directly through the platform.
                        We also offer a range of features and tools to make the buying and selling process as smooth and secure as possible. This includes secure payment processing, shipping and tracking tools, and customer support services.

                        Overall, ComicHive aims to create a vibrant and thriving community of comic book enthusiasts and independent sellers, where people can discover, buy, and sell comics with ease and convenience.
                    </strong>
                </h5>
                <hr>

        <!------Picture-------->
        <img src="~/img/blends.jpg" style="margin-left:auto; width:1000px; display:block;">

    </div>
</main>

<style>

    .Abput639043 {
        font-size: 70px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        color: #b393d3;
        text-transform: uppercase;
        text-shadow: 1px 1px 0px #957dad, 1px 2px 0px #957dad, 1px 3px 0px #957dad, 1px 4px 0px #957dad, 1px 5px 0px #957dad, 1px 6px 0px #957dad, 1px 10px 5px rgba(16, 16, 16, 0.5), 1px 15px 10px rgba(16, 16, 16, 0.4), 1px 20px 30px rgba(16, 16, 16, 0.3), 1px 25px 50px rgba(16, 16, 16, 0.2);
    }

    body {
        background: #f9f9f9;
        font - size: 16px;
        font - family: 'Raleway', sans - serif;
        background-image: radial-gradient(circle farthest-side, #c6ffdd, #fbd786, #f7797d);
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>