
@{
    ViewBag.Title = "LatestNews";
}

<h2>LatestNews</h2>

<!-- Spiderman-->
<div class="container">
    <div class="d-flex flex-row">
        <div class="col-lg-3">
            <br>

            <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiNlLbjzrj3AhXYmWYCHfhKAGMYABAAGgJzbQ&ae=2&ei=vYFrYv_LC_ii1sQPvvWG0AM&ohost=www.google.com&cid=CAESbOD2l4VwVEfP8JwiH3wFXFB5jPrxclxmK825pnWqqwjWskKxiKKIL9hsAZdha6wVTjDGLNJe4c9_Ong5F534Xl56noZ2CXNrT559_9k5CosCVpmXlhrM9teGl5HyRlJ3QCS2RcCy-fXFWTdLIA&sig=AOD64_1b4OKc2jaBsA5Zedb0SCZM1j1TIw&q&sqi=2&adurl&ved=2ahUKEwi_nqTjzrj3AhV4kZUCHb66AToQ0Qx6BAgDEAE">Comic Warehouse</a>

            <a>
            </a>
        </div>
        <div class="col-lg-5">
            <h2 align="center">Doctor Strange in the Multiverse Of Madness</h2>
            <a align="center" href="https://twitter.com/DrStrangeUpdate?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Click Here For The Latest News On Doctor Strange in The Multiverse Of Madness</a>
            <hr>
            <h5 align="center" class="d-flex p-2">
                <strong>
                    Doctor Strange in the Multiverse of Madness is an upcoming American superhero film based on Marvel Comics' Doctor Strange.
                    It is the sequel to Doctor Strange (2016) and the 28th film in the Marvel Cinematic Universe, produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures (MCU).
                    The film stars Benedict Cumberbatch as Stephen Strange, Elizabeth Olsen, Chiwetel Ejiofor, Benedict Wong, Xochitl Gomez, Michael Stuhlbarg, and Rachel McAdams,
                    and is directed by Sam Raimi and written by Michael Waldron. Strange and his allies travel into the multiverse to face a mysterious new adversary in the film.

                </strong>
            </h5>
            <hr>
        </div>
    </div>
</div>

<!-- Venom: Let There Be Carnage-->
<div class="container ">
    <div class="d-flex flex-row">
        <div class="col-lg-4">
            <br>
        </div>
        <div class="col-lg-6">
            <h2 align="center">Venom: Let There Be Carnage</h2>
            <a href="https://www.independent.co.uk/arts-entertainment/films/news/venom-3-sequel-release-date-b2065448.html">Click Here For The Latest News On Venom Let There Be Carnage </a>
            <hr>
            <h5 align="center" class="d-flex p-2">
                <strong>
                    Venom: Let There Be Carnage is a 2021 American superhero comic written by Columbia Pictures in collaboration with Marvel that stars the Marvel Comics character Venom.
                    It is the second film in Sony Pictures Releasing's Spider-Man Universe and the sequel to Venom (2018).
                    Andy Serkis directed the film, which was based on a screenplay written by Kelly Marcel and Tom Hardy, who plays Eddie Brock and Venom alongside Michelle Williams, Naomie Harris, Reid Scott, Stephen Graham, and Woody Harrelson.
                    In the comic, Brock and the alien symbiote Venom must confront serial killer Cletus Kasady (Harrelson) after he becomes the host of Carnage, a Venom offshoot.
                </strong>
            </h5>
            <hr>
        </div>
    </div>
</div>

<!-- She Hulk-->
<div class="container ">
    <div class="d-flex flex-row">
        <div class="col-lg-4">
            <br>
        </div>
        <div class="col-lg-6">
            <h2 align="center">She Hulk</h2>
            <a href="https://mobile.twitter.com/shehuikupdates">Click Here For The Latest News On She Hulk </a>
            <hr>
            <h5 align="center" class="d-flex p-2">
                <strong>
                    She debuted in The Savage She-Hulk #1, created by writer Stan Lee and artist John Buscema .
                    Walters is a lawyer who received an emergency blood transfusion from her cousin, Bruce Banner,
                    following an injury and developed a milder version of his Hulk condition.
                </strong>
            </h5>
            <hr>
        </div>
    </div>
</div>

<!-- The Batman-->
<div class="container ">
    <div class="d-flex flex-row">
        <div class="col-lg-4">
            <br>

        </div>
        <div class="col-lg-6">
            <h2 align="center">The Batman</h2>
            <a href="https://variety.com/2022/film/news/the-batman-sequel-robert-pattinson-1235241667/">Click Here For The Latest News On The Batman </a>
            <hr>
            <h5 align="center" class="d-flex p-2">
                <strong>
                    When a sadistic killer leaves a trail of cryptic clues, Batman ventures into Gotham City's underworld.
                    As the evidence points closer to home and the scope of the perpetrator's plans become clear, he must forge new relationships,
                    unmask the culprit, and bring justice to the city's long-standing abuse of power and corruption.
                </strong>
            </h5>
            <hr>
        </div>
    </div>
</div>